<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<!--    一个session-factory代表一个数据库-->
    <session-factory name="foo">
<!--        数据库连接配置-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
<!--        显示hibernate在运行时候执行的sql语句-->
        <property name="show_sql">true</property>
<!--        格式化sql-->
        <property name="format_sql">true</property>
<!--        自动建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--            加载映射文件-->
        <mapping resource="com/rui/web/model/Admin.hbm.xml"/>
<!--            设置mysql方言-->
<!--            <hibernate-mapping>org.hibernate.dialect.MySQLDialect</hibernate-mapping>-->
    </session-factory>
</hibernate-configuration>
